# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints

# Virtual environment
venv/
env/
ENV/
*.env

# Flask related
instance/
*.db
*.sqlite3

# Model files (optional: if hosted elsewhere)
# models/*.h5

# Uploaded/generated images
*.jpg
*.jpeg
*.png

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# VSCode / IDE settings
.vscode/
.idea/

# Node modules (if any)
node_modules/

# OS generated
desktop.ini

# Build & Deployment
build/
dist/
*.egg-info/
